.vercel
vendor
composer.json
composer.lock
procfile
app.json
LICENSE
README.md
.github
.gitignore
score.xml
vercel.json
.vercelignore
vercel.json
node_modules
yarn*.log
npm-debug.log
.vscode
Dockerfile*
docker-compose*
.dockerignore
xml.php
live.php
config.php